@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";

@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../fonts/font-awesome";

.ecolenos {
  .carousel {
    background-image: url("../images/header_bg.jpg");
    background-repeat: no-repeat;

    height: 672px;

    position: relative;
    border-bottom: 12px solid #ebd077;

    .text-wrapper {
      position: absolute;
      bottom: 30px;
    }

    .text {
      font-size: 48px;
      font-weight: 600;
      color: @eco-font-color;
      width: 70%;
      margin: 0 auto;
    }
  }

  .products {
    background-color: #eaeaea;
    padding: 60px 20px;

    h1 {
      .product-constraints;
      .title;
    }

    ul {
      .list-unstyled;
      .product-constraints;

    }
  }

  .about-us {
    padding: 60px 20px;

    h1 {
      .product-constraints;
      .title;
    }

    p {
      color: #333;
      font-size: 24px;
      border-bottom: 2px #eaeaea solid;
      padding-bottom: 60px;

      .product-constraints;
    }
  }

  .contact {
    padding: 0 20px 60px;

    h1 {
      .product-constraints;
      .title;
    }
  }

  .product-constraints() {
    max-width: 890px;
    margin: 0 auto;
  }

  .title() {
    color: @eco-font-color;
    font-size:36px;
    text-transform: capitalize;
    margin-bottom: 35px;
  }

  .eco-footer {
    background-color: #522637;

    .footer-left {
      float: left;
      margin-right: 0px;
      margin-left: 100px;
    }

    .footer-right {
      margin-right: 0px;
      margin-left: 100px;

      &.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0px;
        overflow: visible !important;
        width: auto;
        max-height: 135px;
      }

      > ul {
        .list-unstyled();
        float: left;
        margin-left: 50px;
        margin-bottom: 0;

        > li {
          float: left;
          display: block;
          margin-right: 40px;

          > a {
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            display: block;
            line-height: 135px;
          }
        }
      }

      .address {
        margin-top: 35px;
        max-width: 190px;

        > span {
          line-height: inherit;
          padding-left: 40px;
          border-left: 1px solid #fff;
          font-size: 14px;
          color: #fff;
          display: block;
        }
      }
    }
  }
}
