@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";

@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../fonts/font-awesome";

.ecolenos {
  .carousel {
    background-image: url("../images/header_bg3.jpg");
    background-repeat: no-repeat;

    height: 672px;

    position: relative;
    border-bottom: 12px solid #ebd077;

    .text-wrapper {
      position: absolute;
      bottom: 30px;
    }

    .text {
      font-size: 48px;
      font-weight: 600;
      color: @eco-font-color;
      width: 70%;
      margin: 0 auto;

      @media (max-width: @grid-float-breakpoint) {
        font-size: 36px;
      }
    }
  }

  .products {
    background-color: #eaeaea;
    padding: 60px 20px;

    h1 {
      .product-constraints;
      .title;
    }

    ul {
      .list-unstyled;
      .product-constraints;

    }

    @media (max-width: @grid-float-breakpoint) {
      li {
        text-align: center;
        margin-bottom: 20px;
      }
    }

    @media (max-width: @screen-xs-max) {
      padding: 30px 0;
      li {
        padding: 0;

        img {
          padding: 0;
        }
      }
    }
  }

  .about-us {
    padding: 60px 20px;

    h1 {
      .product-constraints;
      .title;
    }

    p {
      color: #333;
      font-size: 24px;
      border-bottom: 2px #eaeaea solid;
      padding-bottom: 60px;

      .product-constraints;
    }
  }

  .contact {
    padding: 0 20px 60px;

    h1 {
      .product-constraints;
      .title;
    }
  }

  .product-constraints() {
    max-width: 890px;
    margin: 0 auto;
  }

  .title() {
    color: @eco-font-color;
    font-size:36px;
    text-transform: capitalize;
    margin-bottom: 35px;
  }

  .eco-footer {
    background-color: #522637;

    .row {
      margin: 0;
    }

    .footer-brand {
      text-align: center;

      img {
        max-width: 100%;
        min-height: 135px;
      }
    }

    ul {
      .list-unstyled();
      .pull-right();
      margin-left: 50px;
      margin-bottom: 0;

      @media (max-width: @grid-float-breakpoint) {
        margin-left: 0;
      }

      @media (max-width: @screen-sm-min) {
        //.pull-left();
      }

      > li {
        float: left;
        display: block;
        margin-right: 40px;

        @media (max-width: @grid-float-breakpoint) {
          margin-right: 10px;
        }

        > a {
          color: #fff;
          font-size: 18px;
          font-weight: 600;
          display: block;
          line-height: 135px;

          @media (max-width: @screen-xs-min) {
            font-size: 14px;
          }
        }
      }
    }

    .address {
      margin-top: 35px;
      max-width: 190px;

      > span {
        line-height: inherit;
        padding-left: 40px;
        border-left: 1px solid #fff;
        font-size: 14px;
        color: #fff;
        display: block;

        @media (max-width: @grid-float-breakpoint) {
          padding-left: 15px;
        }
      }
    }

  }

  .navbar-default {
    .transition(.2s ease background-color);

    &.scroll-down {
      background-color: rgba(255, 255, 255, 1);

      ul.navbar-nav {
        > .active > a {
          background-color: rgba(248, 248, 248, 1);

          &:hover, &:focus {
            background-color: rgba(248, 248, 248, 1);
          }
        }
      }
    }

  }
}
